.codebox-container {
  display: block;
  text-align: center;
}

.codebox-container .codebox-field-wrap {
  display: inline-block;
  margin: 0.4rem;
  width: 2.8125rem;
  height: 2.8125rem;
}

/* iphone SE */
@media (max-width: 320px) {
  .codebox-container .codebox-field-wrap {
    margin: 0.4rem;
    width: 2rem;
    height: 2rem;
  }
}

.codebox-container .codebox-field-wrap input {
  width: inherit;
  height: inherit;
  line-height: inherit;
  font-size: 1.6rem;
  text-align: center;
  vertical-align: baseline;
  border: none;
  outline: none;
  color: #494949;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
}

.dashed.codebox-container .codebox-field-wrap input {
  border: none;
  border-bottom: 1px solid #e8d8e8;
  border-radius: 0;
}

.flex.codebox-container form {
  display: flex;
  justify-content: space-between;
}

.flex.codebox-container .codebox-field-wrap {
  margin: 0;
}
